<div class="alert-box">
    <div class="form-head">
      <h3>Delete Employee</h3>
      
      <button class="close-btn btn btn-light" onclick="closeAlert()">&#10005</button>
  </div>
  
  
  <p>Are you sure you want to delete this employee?</p>
  <div class=" d-flex justify-content-end">
  
    <button class="btn btn-light p-3 me-2" onclick="closeAlert()">cancel</button>
    <button type="submit" class="btn fill-btn py-3 px-4" onclick="deleteUser()" >Delete</button>
  
  </div>
  </div>