
<footer>
    <span>© 2023  All Rights Reserved. <strong>Stackup</strong></span>

    <div class="terms">
      <span>Terms of Use</span>
      <span>Privacy Policy</span>
    </div>
  </footer>
<script src="/js/login.js"></script>
</body>
</html>